

<div class="content">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div wpCollection="pages" [wpArgs]="{slug: 'contact'}" (wpResponse)="post = $event.data[0]">
      <h1>{{post?.title?.rendered}}</h1>
      <div [innerHTML]="post?.content?.rendered"></div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div>
      <h2>Bel me terug app</h2>

      <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)" class="form">
        <!-- we will place our fields here -->

        <!--name-->
        <div>
          <label class="label">Naam</label>
          <!--bind name to ngModel, it's required with minimum 5 characters-->
          <input type="text" name="name" [(ngModel)]="user.name" #name="ngModel" required minlength="5">
          <!--show error only when field is not valid & it's dirty or form submited-->
          <small [hidden]="name.valid || (name.pristine && !f.submitted)">
            Naam is verplicht(minimum 5 characters).
          </small>
        </div>

        <!--adrress group-->
        <div ngModelGroup="address">
          <!--street-->
          <div>
            <label class="label">E-mailadres</label>
            <input type="text" name="street" [(ngModel)]="user.address.street" #street="ngModel" required>
            <small [hidden]="street.valid || (street.pristine && !f.submitted)" class="text-danger">
              E-mailadres is verplicht.
            </small>
          </div>

          <!--postcode-->
          <div>
            <label class="label">Telefoonnummer</label>
            <input type="text" name="postcode" [(ngModel)]="user.address.postcode">
          </div>
        </div>

        <button type="submit" class="btn">Verzend formulier</button>
      </form>

    </div>
  </div>

</div>